{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% comment %} TITUTLO {% endcomment %}
{% block content %}
    <section>
        <div style="height: 330px;">
            <div class="innerPageBannerCol">
                <div class="container">
                    <div class="bannerContent">
                        <h1 class="mb-3"> {{ category.name }}</h1>
                    </div>
                    <p></p>
                    <hr>
                    <p>{{category.description}}</p>
                    <a href="{%url 'main:categories'%}">
                        <button class="btn mb-3 mr-3 btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M12 8l-4 4 4 4M16 12H9"/></svg>
                            <span>
                                Go Back
                            </span>
                        </button>
                    </a>            
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <p style="height: 100px;"></p>

    <section>
        <div class="container" style="height: auto">
            <div class="bannerContent">
                <h3 class="mb-3"> Available Products </h3>
            </div>
            {% for product in category.product_set.all %}
            <div class="row" style="background-color: #eee;">
                    <div class="col-md-4">
                        <p></p>
                        <div class="container-sm">
                            <div class="pCol">
                                <img src="{{product.image.url}}" alt="..." class="pImg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p></p>
                        <div class="container-sm">
                            <div class="pCol">
                                <h4 class="mb-3">{{product.name|safe}}
                                </h4>
                                <p class="text-muted" >Price: <span class="text-muted" style="font-weight: bold;">$ {{product.price|safe}}</span></p>
                                {{product.description|safe}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"  style="font-size:5px">
                            <p style="height: 10px;"></p> 
                            {% if request.user.is_authenticated and product.user == request.user %}
                            <p></p>
                            <a href="{% url 'main:edit-products' product.pk %}">
                            <button type="button" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                </svg>  
                            </button>
                            </a>
                            <a href="{% url 'main:delete-products' product.pk %}">
                            <button type="button" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                </svg>
                            </button>
                            </a>
                            {% endif %}
                            <p style="height: 10px;"></p>
                            <a href="{% url 'main:product-detail' product.pk %}" >
                                <button type="button" class="btn btn-primary" style="font-size:15px"> View Details </button>
                            </a>
                    <p></p>
            </div>
        </div>
        <p></p>

        {% endfor %}
</section> 


<!-- ================================
End Content
================================= -->
{%endblock%} 
    