{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
    <div style="height: 280px;">
        <div class="innerPageBannerCol">
            <div class="container">
                <div class="bannerContent">
                    <h1 class="mb-3">Categories</h1>
                </div>
                <p></p>
                <hr>
                <p></p>         
            </div>
        </div>
    </div>
</section>

{% comment %} SECCION DE DISPLAY DE CATEGORIAS {% endcomment %}
<section>
    <div class="container">
            {% for obj in object_list %}
            <div class="row" style="background-color: #eee;">
            <div class="col-md-4">
                <p></p>
                <div class="container-sm">
                    <div class="pCol">
                        <img src="{{obj.image.url}}" alt="..." class="pImg">
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <p></p>
                <div class="container-sm">
                    <div class="pCol">
                        <h4 class="mb-3">{{obj.name|safe}}
                        </h4>
                        {{obj.description|safe}}
                    </div>
                </div>
            </div>
            <div class="col-md-2"  style="font-size:5px">
                {% if request.user.is_authenticated %}
                <p></p>
                <a href="{% url 'main:edit-categories' obj.pk %}">
                <button type="button" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                    </svg>  
                </button>
                </a>
                <a href="{% url 'main:delete-categories' obj.pk %}">
                <button type="button" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                    </svg>
                </button>
                </a>
                {% endif %}
                <div class="row">
                    <p style="height: 10px;"></p> 
                    <a href="/category/{{obj.pk}}" >
                        <button type="button" class="btn btn-primary" style="font-size:15px">Read More</button>
                    </a>
                </div> 
            </div>
            <p></p>
        </div>
        <p></p>

        {% endfor %}
</section>
<p style="height: 10px;"></p>
<section>
    <div class="container">
        <center>
                <span class="badge rounded-pill bg-light text-dark"><p style=" margin: auto; font-size: 15px;">Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}</p>
                </span> 
            <p style="height: 10px"></p>
            <nav aria-label="page navigation">
                <ul style="margin-left:auto; margin-right: auto;"class="pager">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>  
                        {% endif %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next </a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> last&raquo;</a></li> 
                        {% endif %}
                </ul>    
            </nav>
        </center>
    </div>
</section>
<!-- ================================
End Content
================================= -->
{%endblock%} 
    